<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectETHBD.Properties.Settings.APOTHIKI3748mariaido"
            connectionString="Data Source=IE8WIN7;Initial Catalog=APOTHIKI3748;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectETHBD.Properties.Settings.ClientAPOTHIKI3748ConnectionString"
            connectionString="Data Source=|DataDirectory|\APOTHIKI3748.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>